In [34]:
## Basic Syntax Rules In Python

# Case sensitive -Python is case Sensitive
a="Kamal"
A="Naman"
print(a)
print(A)

Kamal
Naman

In [35]:
x=8
y=9
print(x+y)
z=x+y+5
print(z)

17
22

In [36]:
## Indentation 
# Python uses indentation to define block of code. consistent use of spaces.
age=55
if age <60:
    print(age)
print("Age is",age)

55
Age is 55

In [37]:
# To print something in  a line.
print("Jai Shree Ram Ji")
print(f"Jai Shree Shyam Ji")
print(f"my age is {age} years ")

Jai Shree Ram Ji
Jai Shree Shyam Ji
my age is 55 years

In [38]:
#Multiline Variable 
# Use a backslash (\) to continue a statement to the next line
sum=1+2+3+4\
    +5+6
print(sum)

21

In [39]:
# Multiple statement on a single line
x=5; y=8; v=x+y
print(v)

a=b=c=5
print(a)
p,q,r=2,3,5
print(p)
print(q)
print(r)

13
5
2
3
5

In [40]:
# Semantic in python 
# variable assignment 
age=8.5
name="Raghav"
print(type(age))
print(type(name))

<class 'float'>
<class 'str'>

In [41]:
# Type inference
v=58
print(type(v))
v="Sagar"
print(type(v))

<class 'int'>
<class 'str'>

In [42]:
a=b
print(b)

5

In [43]:
## Declaring and Assigning Variables
age=65; height=8.3; name="sunny";
print("age :", age)
print("Height:", height)
print("Name:", name)

age : 65
Height: 8.3
Name: sunny

In [44]:
first_name="Sumit"
second_name="Kushwaha"
print(f"my name is {first_name}  {second_name}")

my name is Sumit  Kushwaha

In [45]:
#variable type
# python is dynamically typed, type os a variable is determined at runtime
a=45
h="vijay"
is_name =True
print(type(a))
print(type(h))
print(type(is_name))

<class 'int'>
<class 'str'>
<class 'bool'>

In [46]:
#Type conversion 
a=35
print(type(a))

#converting it into str
a_str=str(a)
print(type(a_str))

#again converting it into integer
print(type(int(a_str)))
print(a_str)

<class 'int'>
<class 'str'>
<class 'int'>
35

In [47]:
name="sagar"
int(name)

ValueError: invalid literal for int() with base 10: 'sagar'

In [ ]:
height=5.9
type(height)
int(height)
float(int(height))

5.0

In [ ]:
#Dynamic typing
#python allows the type of a variable to change as the program executes
var=10 
print(var, type(var))
var="Hello"
print(var, type(var))
var=5.8
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
5.8 <class 'float'>

In [49]:
name = input("What is your name?")
print(" YOur name is", name)

 YOur name is Sumit Kushwaha

In [52]:
age =int(input("What is the age:"))
print(age, type(age))

9 <class 'int'>

In [53]:
### Simple calculator 
num1=float(input("Enter first number: "))
num2=float(input("Enter second number:"))
sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1/num2

print("sum", sum)
print("Difference", difference)
print("Product", product)
print("Quotient", quotient)

sum 8.0
Difference 2.0
Product 15.0
Quotient 1.6666666666666667

In [54]:
#Data type
## Integer 
age=54
type(age)

int

In [56]:
## floating point 
height=float(input("Enter your height"))
print(height)
type(height)

6.0

float

In [58]:
## string datatype example
name="Ram"
print(name)
print(type(name))

Ram
<class 'str'>

In [ ]:
## Boolean datatype
is_true=True
type(is_true)

bool

In [63]:
a=10
b=7
type(a!=b)

bool

In [64]:
a="hello" + 5
print(a)

TypeError: can only concatenate str (not "int") to str

In [65]:
a="hello" * 5
print(a)

hellohellohellohellohello

In [67]:
result="Hello" + str(5)
print(result)

Hello5

In [72]:
# Arithmethic Operation
a=float(input("Enter first number"))
b=float(input("Enter second number"))
add_result=a+b
sub_result=a-b
mult_result=a*b
div_result=a/b
floor_div_result=a//b
modulus_result=a%b
exponent_result=a**b
print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

13.0
-3.0
40.0
0.625
0.0
5.0
390625.0

In [74]:
2**(2**5)

4294967296

In [76]:
(2+3)**5

3125

In [77]:
#Comparision Operators
## == equal to 
a=10
b=10.4
a==b

False

In [78]:
## not equal to !=
a!=b

True

In [ ]:
## Greater than >
number1=50
number2=39
number1>number2

True

In [80]:
## less than <
number2<number1

True

In [81]:
#greater than or equal to 
number2>=number1

False

In [82]:
#less than or equal to 
number2<=number1

True

In [83]:
# Logical operators
## And, Not, OR
x=True
y=False
res=x and y
print(res)

False

In [84]:
res1= x or y
print(res1)

True

In [85]:
# not operator
x=False
not x

True

In [ ]:
## conditional statement(if,elif,else)
## if statement
age=19
if age >=18:
    print(f"you are allowed to vote in the elections with age  {age} years")

you are allowed to   vote in the elections with age  19 years

In [91]:
# else statement 
age =int(input("Enter your age"))
if age >=18:
    print("you are eligible for voting")
else:
    print("you are minor")

you are eligible for voting

In [93]:
# elif
age=int(input("Enter Your Age:"))
if age < 14:
    print("You are a child")
elif age>18 and age <40:
    print("you are an adult")
else:
    print("you are an old adult")

you are an adult

In [96]:
num=int(input("enter a number"))
if num%2==0:
    print("Even ")
else:
    print("odd")

odd

In [98]:
#nested condition statements
## number even, odd, negative
num=int(input("Enter a number"))
if num>0:
    print("The number is positive")
    if num%2==0:
        print("The number is even ")
    else:
        print("number is odd")
else:
    print("The number is zero or nagetive")

The number is positive
The number is even

In [102]:
# check whether the given year is leap or not 
y=int(input("Enter the year"))
if y%4==0:
    if y%100==0:
        if y%400==0:
            print(y,"is a leap year")
        else:
            print(y,"is not a leap year")
    else:
        print(y,"is a leap year")
else:
    print(y,"is not a leap year")

2000 is a leap year

In [106]:
#
#  Simple calculator program
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))
operation=input("Enter operation(+, -, *, /): ")
if operation == '+':
    res=num1 + num2
elif operation == '-':
    res=num1-num2
elif operation == '*':
    res=num1*num2
elif operation == '/':
    if num2!=0:
        res=num1/num2
    else:
        res="error! Division by zero."
else:
    res="Invalid operation."

print("Result:", res)

Result: 50.0

In [110]:
# determine the ticket price based on age and whether the person is student
age=int(input("Enter Your age: "))
is_student=input("Are you a student? (yes/no):").lower()

if age<5:
    price="Free"
elif age<=12:
    price="$10"
elif age<=17:
    if is_student == 'yes':
        price="$12"
    else:
        price="$15"
elif age<=64:
    if is_student == 'yes':
        price="$18"
    else:
        price ="$25"
else:
    price="$20"
print("Ticket price:", price)

Ticket price: Free

In [112]:
#### Employee Bonus calculation 
# calculating an employee's bonus based on their performance rating and years of service.abs
years_of_service=int(input("Enter Years of service: "))
performance_rating=float(input("Enter performance rating (1.0 to 5.0): "))

# determine bonus percentage
if performance_rating >=4.5:
    if years_of_service>10:
        bonus_percentage=20
    elif years_of_service>5:
        bonus_percentage=15

    else:
        bonus_percentage=10
elif performance_rating >=3.5:
    if years_of_service>10:
        bonus_percentage=15
    elif years_of_service>5:
        bonus_percentage=10
    else:
        bonus_percentage=5
else:
    bonus_percentage=0

#calculate bonus amount
salary = float(input("Enter current salary: "))
bonus_amount=salary * bonus_percentage/100
print("Bonus Amount: ${:.2f}".format(bonus_amount))

Bonus Amount: $0.00

In [115]:
# User login system
# a simple user login system that checks the username and password

stored_username="admin"
stored_password="password1234"

# user input 
username=input("Enter username: ")
password=input("Enter password: ")

#check login credentials
if username==stored_username:
    if password == stored_password:
        print("Login successful!")
    else:
        print("Incorrect password.")
else:
    print("Username not found.")

Incorrect password.

In [117]:
#Loops
## for loop
for i in range(5):
    print(i)
range(i)

0
1
2
3
4

range(0, 4)

In [118]:
for i in range(1,5):
    print("level", i)

level 1
level 2
level 3
level 4

In [119]:
for i in range(1,16,3):
    print(i)

1
4
7
10
13

In [123]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [124]:
## strings
str=" Jai Shree Ram"
for i in str:
    print(i)

J
a
i

S
h
r
e
e

R
a
m

In [125]:
# While loop
count=0
while count<5:
    print(count)
    count +=1

0
1
2
3
4

In [126]:
#checking help
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [127]:
## Loop control statements
# break
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [128]:
## continue 
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [129]:
#pass- pass statement is a null operation: it does nothing.abs
for i in range(5):
    if i==3:
        pass 
    print(i)

0
1
2
3
4

In [131]:
# Nested loops
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [132]:
# Examples- Calculate the sum of first N natural numbers using a while and for loop

n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("sum of first 10 natural number:" , sum)

sum of first 10 natural number: 55

In [133]:
# Prime numbers between 1 and 100
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [134]:
# 
#printing a table
for i in range(1,11):
    print(f"{n} * {i}={ n*i}")

10 * 1=10
10 * 2=20
10 * 3=30
10 * 4=40
10 * 5=50
10 * 6=60
10 * 7=70
10 * 8=80
10 * 9=90
10 * 10=100

In [135]:
## list 
lst=[]
print(type)

<class 'type'>

In [136]:
lst

[]

In [137]:
lst=[1,2,3,4,5]
print(lst)
print(type(lst))

[1, 2, 3, 4, 5]
<class 'list'>

In [138]:
#Different datatypes 
names = ["Ajay", "jack", "jacob",2,3,4]
print(names)

['Ajay', 'jack', 'jacob', 2, 3, 4]

In [139]:
mixed_list=[1,"Hello",3.12,True]
print(mixed_list)

[1, 'Hello', 3.12, True]

In [140]:
# Accessing list Items
fruits=["apple", "banana", "cherry", "kiwi", "guava"]
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])
print(fruits[4])

apple
banana
cherry
kiwi
guava

In [141]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'guava']

In [142]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[:3])
print(fruits[:])
print(fruits[::-1])

['banana', 'cherry', 'kiwi', 'guava']
['banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'kiwi', 'guava']
['guava', 'kiwi', 'cherry', 'banana', 'apple']

In [143]:
## Modifying the list elements
fruits[1]="watermelon"
fruits

['apple', 'watermelon', 'cherry', 'kiwi', 'guava']

In [144]:
fruits[1:]="watermelon"
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [145]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [146]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=2147483647, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [147]:
# list methods 
fruits.append("arange")
print(fruits)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'arange']

In [148]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'arange']

In [149]:
fruits.remove("apple")
print(fruits)

['watermelon', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'arange']

In [150]:
# remove and return the last element
popped_fruits=fruits.pop()
print(fruits)
print(popped_fruits)

['watermelon', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']
arange

In [152]:
fruits=["apple", "banana", "cherry", "kiwi", "guava"]
index=fruits.index("cherry")
print(index)

2

In [153]:
fruits.insert(2,"banana")
fruits

['apple', 'banana', 'banana', 'cherry', 'kiwi', 'guava']

In [155]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

3

In [156]:
fruits.append("avocado")

In [157]:
# Sort the list in ascending order 
fruits.sort()
fruits

['apple', 'avocado', 'banana', 'banana', 'banana', 'cherry', 'guava', 'kiwi']

In [158]:
# sort the list in descending order 
fruits.reverse()
fruits

['kiwi', 'guava', 'cherry', 'banana', 'banana', 'banana', 'avocado', 'apple']

In [160]:
fruits.clear()
print(fruits)

[]

In [161]:
## slicing list 
num=[1,2,3,4,5,6,7,8,9,10]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [162]:
#### Iterating over list 
for nums in num:
    print(nums)

1
2
3
4
5
6
7
8
9
10

In [168]:
## Iterating with index 
for index, nums in enumerate(num):
    print(index, nums)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [170]:
num.count(4)

1

In [171]:
len(num)

10

In [173]:
# list comprehension 
lst=[]
for x in range(1,12,2):
    lst.append(x**2)
print(lst)

[1, 9, 25, 49, 81, 121]

In [174]:
[x**3 for x in range(1,10,2)]

[1, 27, 125, 343, 729]

In [176]:
## creating a Tuple
empty_tup=()
print(empty_tup)
print(type(empty_tup))

()
<class 'tuple'>

In [177]:
lst=list() ##[]
print(type(lst))

<class 'list'>

In [179]:
tpl=tuple()
print(type(tpl))

<class 'tuple'>

In [180]:
tpl1=(1,2,3,4)
print(type(tpl1))

<class 'tuple'>

In [181]:
lst=[1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [182]:
num=tuple(lst)
num

(1, 2, 3, 4, 5)

In [183]:
list(num)

[1, 2, 3, 4, 5]

In [184]:
mixed_tuple=(1,"hello world",3.57,True)
print(mixed_tuple)

(1, 'hello world', 3.57, True)

In [185]:
# Accessing tuple elements
num

(1, 2, 3, 4, 5)

In [186]:
print(num[2])
print(num[3])

3
4

In [190]:
num[4]

5

In [191]:
num[:4]
num[::-1]

(5, 4, 3, 2, 1)

In [192]:
mixed_tuple

(1, 'hello world', 3.57, True)

In [194]:
# tuple operations
concatenation_tuple=num + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'hello world', 3.57, True)

In [195]:
concatenation_tuple * 3

(1,
 2,
 3,
 4,
 5,
 1,
 'hello world',
 3.57,
 True,
 1,
 2,
 3,
 4,
 5,
 1,
 'hello world',
 3.57,
 True,
 1,
 2,
 3,
 4,
 5,
 1,
 'hello world',
 3.57,
 True)

In [196]:
num

(1, 2, 3, 4, 5)

In [197]:
num + tuple(3)

TypeError: 'int' object is not iterable

In [198]:
#Immutable Nature of Tuples
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [199]:
lst[1]="Ajay"
print(lst)

[1, 'Ajay', 3, 4, 5]

In [200]:
num, type(num)

((1, 2, 3, 4, 5), tuple)

In [201]:
num[1]="suneel"

TypeError: 'tuple' object does not support item assignment

In [205]:
## tuple methods
print(num.count(2))
print(num.index(2))

1
1

In [206]:
# packing and unpacking tuple 
packed_tup=1,"hello", 3.14
print(packed_tup)

(1, 'hello', 3.14)

In [207]:
#unpacking tup
a,b,c=packed_tup
print(a)
print(b)
print(c)

1
hello
3.14

In [209]:
# unpacking with string
num=(1,2,3,4,5,6)
first,*middle,last=num
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [210]:
#Nested list and Tuples
## nested list 
lst=[[1,2,3,4],[5,6,7,8],[4,"Hellom",3.15,'c']]

lst

[[1, 2, 3, 4], [5, 6, 7, 8], [4, 'Hellom', 3.15, 'c']]

In [211]:
lst[0]

[1, 2, 3, 4]

In [212]:
lst[2][0:3]

[4, 'Hellom', 3.15]

In [213]:
nested_tup=((1,2,4,5),("a","b","c"),(True,False))
## access the elements inside a tuple
print(nested_tup[0])
print(nested_tup[1][2])

(1, 2, 4, 5)
c

In [215]:
## iterating over nested tuples
for sub_tup in nested_tup:
    for item in sub_tup:
        print(item,end="  ")
    print()

1  2  4  5
a  b  c
True  False

In [1]:
## Creating Dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict=dict()
print(type(empty_dict))

<class 'dict'>

In [4]:
stu={"name":"sunny","age":18,"class":5}
print(stu)

{'name': 'sunny', 'age': 18, 'class': 5}

In [5]:
print(stu["name"])
print(stu['name'])

sunny
sunny

In [6]:
print(stu.get('class'))

5

In [7]:
print(stu.get('age'))

18

In [8]:
print(stu.get('grade'))

None

In [9]:
print(stu.get('last_n',"not available"))

not available

In [11]:
# modifying dictionary elements
print(stu)

{'name': 'sunny', 'age': 18, 'class': 5}

In [12]:
stu["grade"]="A"

In [13]:
print(stu)

{'name': 'sunny', 'age': 18, 'class': 5, 'grade': 'A'}

In [14]:
del stu['grade']
print(stu)

{'name': 'sunny', 'age': 18, 'class': 5}

In [16]:
#Dictionary methods
keys=stu.keys()
print(keys)
values=stu.values()
print(values)
items=stu.items()
print(items)

dict_keys(['name', 'age', 'class'])
dict_values(['sunny', 18, 5])
dict_items([('name', 'sunny'), ('age', 18), ('class', 5)])

In [17]:
stu.keys()

dict_keys(['name', 'age', 'class'])

In [18]:
stu

{'name': 'sunny', 'age': 18, 'class': 5}

In [21]:
## Shallow copy 

import copy
stu={'name':'Honey', 'subject':['math','science']}
stu_copy=copy.copy(stu)
stu, stu_copy

({'name': 'Honey', 'subject': ['math', 'science']},
 {'name': 'Honey', 'subject': ['math', 'science']})

In [22]:
#Modify the nested list
stu["subject"].append("english")
print(stu)
print(stu_copy)

{'name': 'Honey', 'subject': ['math', 'science', 'english']}
{'name': 'Honey', 'subject': ['math', 'science', 'english']}

In [24]:
## Deep copy' 
import copy
stu={'name':'Honey','sub':['math','scienc']}
stu_copy1=copy.deepcopy(stu)

In [25]:
stu, stu_copy1

({'name': 'Honey', 'sub': ['math', 'scienc']},
 {'name': 'Honey', 'sub': ['math', 'scienc']})

In [26]:
# Iterating over Dictionaries

for keys in stu.keys():
    print(keys)

name
sub

In [27]:
# iterate over Values 
for value in stu.values():
    print(value)

Honey
['math', 'scienc']

In [28]:
# iterating over key value pair 
for key, value in stu.items():
    print(f"{key}:{value}")

name:Honey
sub:['math', 'scienc']

In [30]:
# nested dictionaries
stus={
    "stu1":{"name":"sunny","age":54},
    "stu2":{"name":"Raj","age":43}
}
print(stus)

{'stu1': {'name': 'sunny', 'age': 54}, 'stu2': {'name': 'Raj', 'age': 43}}

In [32]:
## functions

def func_name(parameters):
    """Docstring"""
    #fuction body
    return expression

In [33]:
def even_or_odd(num):
    if num%2==0:
        print("num is even ")
    else:
        print("the num is odd")

In [34]:
even_or_odd(24)

num is even

In [36]:
## function with multiple parameters
def add(a,b):
    return a+b
a=int(input("Enter the num 1"))
b=int(input("Enter the num 2"))
result=add(a,b)
print(f" the result of {a} and {b} is {result}")

 the result of 7 and 8 is 15

In [38]:
## Default parameters
def greet(name):
    print(f"Hello {name} Welcome to the paradise")
greet("Ajay")

Hello Ajay Welcome to the paradise

In [39]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome to the paradise")
greet("NIkhil")

Hello NIkhil Welcome to the paradise

In [40]:
# variable length Arguments 
def print_nums(*vijay):
    for num in vijay:
        print(num)

In [42]:
print_nums(1,2,3,4,5,6,7,8,"vijay")

1
2
3
4
5
6
7
8
vijay

In [43]:
# Positional srguments
def print_nums(*args):
    for i in args:
        print(i)
print_nums(1,2,3,4,5,"Ajay","vijay")

1
2
3
4
5
Ajay
vijay

In [44]:
## Example 
def sum_of_nums(*args):
    sum=0
    for i in args:
        sum=sum+i
    return sum
sum_of_nums(1,2,3,4,56,6)

72

In [45]:
## Keywords Arguments 
def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}:{value}")

In [46]:
print_details(name="Ajay",age="32",country="India")

name:Ajay
age:32
country:India

In [47]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" positional argument :{val}")
    for key,value in kwargs.items():
        print(f"{key}:{value}")
print_details(1,2,3,4,5,"Ajay",name="vijay",age="54")

 positional argument :1
 positional argument :2
 positional argument :3
 positional argument :4
 positional argument :5
 positional argument :Ajay
name:vijay
age:54

In [48]:
## return statement 
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [49]:
# return multiple parameters
def multiply(a,b):
    return a*b,a
multiply(2,3)

(6, 2)

In [50]:
## Lambda 
lambda arguments: expression

In [51]:
def addition(a,b):
    return a+b
addition(2,3)

5

In [53]:
addition=lambda a,b:a+b
type(addition)
print(addition(5,6))

11

In [56]:
def even(num):
    if num%2==0:
        return True
even(26)

True

In [58]:
def addition(x,y,z):
    return x+y+z
addition(34,54,1)

89

In [59]:
## map()- applies a function to all item in a list 
num=[1,2,3,4,5,6]
def square(num):
    return num**2
square(2)

4

In [60]:
list(map(lambda x:x**3,num))

[1, 8, 27, 64, 125, 216]

In [61]:
### map function 
def square(x):
    return x*x
square(25)

625

In [62]:
num=[1,2,3,4,5,6,7,8]
list(map(square,num))

[1, 4, 9, 16, 25, 36, 49, 64]

In [63]:
## Lambda function with map
nnum=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,nnum))

[1, 4, 9, 16, 25, 36, 49, 64]

In [65]:
### Map multiple iterables
num1=[1,2,3]
num2=[4,5,6]
added_num=list(map(lambda x,y:x+y,num1,num2))
print(added_num)

[5, 7, 9]

In [66]:
## map() to convert a list of string to integers 
str_num=['1','2','3','4']
int_num=list(map(int, str_num))
print(int_num)

[1, 2, 3, 4]

In [67]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [69]:
def get_name(person):
    return person['name']
people=[
    {'name':'Ajay','age':54},
    {'name': 'sumit','age':43}
]
list(map(get_name,people))

['Ajay', 'sumit']

In [73]:
##############3
# Filter function 
def even(num):
    if num%2==0:
        return True
even(6)

True

In [74]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]
list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [75]:
## filter with a lambda function 
num=[1,2,3,4,5,6,7,8]
greater_than_five=list(filter(lambda x:x>5, num))
print(greater_than_five)

[6, 7, 8]

In [77]:
# filter with a lambda function and multiple conditions 
num=[1,2,3,4,5,6,7,8]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0, num))
print(even_and_greater_than_five)

[6, 8]

In [79]:
## Filter() to check if the age is greater than 25 in dictionaries 
people=[
    {'name':'suny','age':54},
    {'name':'jack','age':22}
    ]
def age_greater_than_25(person):
    return person['age']>25
list(filter(age_greater_than_25,people))

[{'name': 'suny', 'age': 54}]